fastapi==0.115.0
uvicorn[standard]==0.32.0
pydantic==2.9.2
pydantic-settings==2.6.1
alembic==1.16.2
python-multipart==0.0.9
python-dotenv
asyncpg
prometheus-client==0.20.0

# Alembic/SQLAlchemy Postgres driver (sync)
psycopg[binary]==3.2.3
